@import "tailwindcss";

@keyframes rise {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-200px) translateX(20px);
    opacity: 0;
  }
}
.animate-rise {
  animation-name: rise;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
